@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Clash+Display:wght@400;500;600;700&family=Epilogue:wght@400;500;600;700&display=swap');

@layer base {
  :root {
    --background: 240 33% 99%;
    --foreground: 216 32% 22%;

    --card: 0 0% 100%;
    --card-foreground: 216 32% 22%;

    --popover: 0 0% 100%;
    --popover-foreground: 216 32% 22%;

    --primary: 242 68% 57%;
    --primary-foreground: 0 0% 100%;
    --primary-light: 237 90% 95%;

    --secondary: 244 68% 87%;
    --secondary-foreground: 216 32% 22%;

    --muted: 240 33% 99%;
    --muted-foreground: 220 13% 46%;

    --accent: 240 33% 99%;
    --accent-foreground: 216 32% 22%;

    --destructive: 8 100% 66%;
    --destructive-foreground: 0 0% 100%;

    --border: 222 36% 88%;
    --input: 222 36% 88%;
    --ring: 242 68% 57%;

    --radius: 0.25rem;

    --text-dark: 216 32% 22%;
    --text-mid: 220 13% 38%;
    --text-light: 219 8% 55%;
    --bg-light: 240 33% 99%;
    --green: 161 46% 70%;
    --yellow: 34 100% 61%;
    --blue-accent: 206 100% 56%;
    --black: 229 20% 16%;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
